<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Apuração das Eleições 2018</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container" id="index-app">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1>Apuração Eleições 2018</h1>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="inputCargo">Cargo</label>
                    <select class="form-control" v-model="cargo" id="inputCargo">
                        <option value="presidente">Presidente</option>
                        <option value="governador">Governador</option>
                        <option value="senador">Senador</option>
                        <option value="dfederal">Deputado Federal</option>
                        <option value="destadual">Deputado Estadual</option>
                        <option value="ddistrital">Deputado Distrital</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAbrangencia">Abrangência</label>
                    <select class="form-control" v-model="abrangencia" id="inputAbrangencia">
                        <option value="br">Nacional</option>
                        <option value="uf">Estadual</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputEstado">Estado</label>
                    <input v-model="estado" type="text" class="form-control" id="inputEstado">
                </div>
            </div>
            <div class="col-12">
                <a :href="link" target="_blank">
                    ${link}
                </a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>