
*[data-v-22959a]{font-weight:400
}
.candidato-image[data-v-22959a]{border-radius:15px;width:52px
}
pprogress[data-v-22959a]{vertical-align:baseline
}
.pprogress[data-v-22959a]{height:1rem;overflow:hidden;font-size:.75rem;background-color:#e9ecef;border-radius:.25rem
}
.pprogress[data-v-22959a],.pprogress-bar[data-v-22959a]{display:-ms-flexbox;display:flex
}
.pprogress-bar[data-v-22959a]{-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;color:#fff;text-align:center;white-space:nowrap;background-color:#007bff;transition:width .6s ease
}
@media screen and (prefers-reduced-motion:reduce){
.pprogress-bar[data-v-22959a]{transition:none
}
}
.pprogress-bar-animated[data-v-22959a]{-webkit-animation:pprogress-bar-stripes-data-v-22959a 1s linear infinite;animation:pprogress-bar-stripes-data-v-22959a 1s linear infinite
}
@-webkit-keyframes pprogress-bar-stripes-data-v-22959a{
0%{background-position:1rem 0
}
to{background-position:0 0
}
}
@keyframes pprogress-bar-stripes-data-v-22959a{
0%{background-position:1rem 0
}
to{background-position:0 0
}
}
.pprogress-bar-striped[data-v-22959a]{background-image:linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);background-size:1rem 1rem
}
.pprogress[data-v-22959a],.pprogress-bar[data-v-22959a]{height:8px
}
.progress-circle[data-v-e716f2]{max-width:50px;max-height:50px;width:100%;transform:scaleX(-1) rotate(-55deg)
}
.progress-circle__percent[data-v-e716f2]{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:14px;color:rgba(0,0,0,.5)
}
.progress-circle__container[data-v-e716f2]{display:inline-block;position:relative
}
.progress-circle__path[data-v-e716f2]{transition:all .5s ease-in-out
}
*[data-v-c8cc03]{font-family:Open Sans,sans-serif
}
.section-head[data-v-c8cc03]{border-bottom:1px solid #ccc
}
.turn[data-v-c8cc03]:active,.turn[data-v-c8cc03]:focus,.turn[data-v-c8cc03]:hover,.turn[data-v-c8cc03]:visited{cursor:default!important;background-color:inherit!important;color:inherit!important
}
pprogress[data-v-c8cc03]{vertical-align:baseline
}
.pprogress[data-v-c8cc03]{height:1rem;overflow:hidden;font-size:.75rem;background-color:#e9ecef;border-radius:.25rem
}
.pprogress[data-v-c8cc03],.pprogress-bar[data-v-c8cc03]{display:-ms-flexbox;display:flex
}
.pprogress-bar[data-v-c8cc03]{-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;color:#fff;text-align:center;white-space:nowrap;background-color:#007bff;transition:width .6s ease
}
@media screen and (prefers-reduced-motion:reduce){
.pprogress-bar[data-v-c8cc03]{transition:none
}
}
.pprogress-bar-animated[data-v-c8cc03]{-webkit-animation:pprogress-bar-stripes-data-v-c8cc03 1s linear infinite;animation:pprogress-bar-stripes-data-v-c8cc03 1s linear infinite
}
@-webkit-keyframes pprogress-bar-stripes-data-v-c8cc03{
0%{background-position:1rem 0
}
to{background-position:0 0
}
}
@keyframes pprogress-bar-stripes-data-v-c8cc03{
0%{background-position:1rem 0
}
to{background-position:0 0
}
}
.pprogress-bar-striped[data-v-c8cc03]{background-image:linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);background-size:1rem 1rem
}
.pprogress[data-v-c8cc03],.pprogress-bar[data-v-c8cc03]{height:8px
}