
*[data-v-060254]{font-weight:400
}
.candidato-image[data-v-060254]{border-radius:15px;width:52px
}
pprogress[data-v-060254]{vertical-align:baseline
}
.pprogress[data-v-060254]{height:1rem;overflow:hidden;font-size:.75rem;background-color:#e9ecef;border-radius:.25rem
}
.pprogress[data-v-060254],.pprogress-bar[data-v-060254]{display:-ms-flexbox;display:flex
}
.pprogress-bar[data-v-060254]{-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;color:#fff;text-align:center;white-space:nowrap;background-color:#007bff;transition:width .6s ease
}
@media screen and (prefers-reduced-motion:reduce){
.pprogress-bar[data-v-060254]{transition:none
}
}
.pprogress-bar-animated[data-v-060254]{-webkit-animation:pprogress-bar-stripes-data-v-060254 1s linear infinite;animation:pprogress-bar-stripes-data-v-060254 1s linear infinite
}
@-webkit-keyframes pprogress-bar-stripes-data-v-060254{
0%{background-position:1rem 0
}
to{background-position:0 0
}
}
@keyframes pprogress-bar-stripes-data-v-060254{
0%{background-position:1rem 0
}
to{background-position:0 0
}
}
.pprogress-bar-striped[data-v-060254]{background-image:linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);background-size:1rem 1rem
}
.pprogress[data-v-060254],.pprogress-bar[data-v-060254]{height:8px
}
.progress-circle[data-v-a9bb07]{max-width:50px;max-height:50px;width:100%;transform:scaleX(-1) rotate(-55deg)
}
.progress-circle__percent[data-v-a9bb07]{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:14px;color:rgba(0,0,0,.5)
}
.progress-circle__container[data-v-a9bb07]{display:inline-block;position:relative
}
.progress-circle__path[data-v-a9bb07]{transition:all .5s ease-in-out
}
*[data-v-0b0e69]{font-family:Open Sans,sans-serif
}
.section-head[data-v-0b0e69]{border-bottom:1px solid #ccc
}
.turn[data-v-0b0e69]:active,.turn[data-v-0b0e69]:focus,.turn[data-v-0b0e69]:hover,.turn[data-v-0b0e69]:visited{cursor:default!important;background-color:inherit!important;color:inherit!important
}
pprogress[data-v-0b0e69]{vertical-align:baseline
}
.pprogress[data-v-0b0e69]{height:1rem;overflow:hidden;font-size:.75rem;background-color:#e9ecef;border-radius:.25rem
}
.pprogress[data-v-0b0e69],.pprogress-bar[data-v-0b0e69]{display:-ms-flexbox;display:flex
}
.pprogress-bar[data-v-0b0e69]{-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;color:#fff;text-align:center;white-space:nowrap;background-color:#007bff;transition:width .6s ease
}
@media screen and (prefers-reduced-motion:reduce){
.pprogress-bar[data-v-0b0e69]{transition:none
}
}
.pprogress-bar-animated[data-v-0b0e69]{-webkit-animation:pprogress-bar-stripes-data-v-0b0e69 1s linear infinite;animation:pprogress-bar-stripes-data-v-0b0e69 1s linear infinite
}
@-webkit-keyframes pprogress-bar-stripes-data-v-0b0e69{
0%{background-position:1rem 0
}
to{background-position:0 0
}
}
@keyframes pprogress-bar-stripes-data-v-0b0e69{
0%{background-position:1rem 0
}
to{background-position:0 0
}
}
.pprogress-bar-striped[data-v-0b0e69]{background-image:linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);background-size:1rem 1rem
}
.pprogress[data-v-0b0e69],.pprogress-bar[data-v-0b0e69]{height:8px
}